@model List<Author>
@{
    int count = 0;
}
<div class="container">
    <div>
        <h1>Authors</h1>
        <a class="btn btn-primary" asp-controller="Author" asp-action="Create">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <div>
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td><a class="btn btn-secondary" asp-controller="Author" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                    <td><a class="btn btn-danger" asp-controller="Author" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
    </div>
            }
        </tbody>
    </table>
</div>